<section class="bg-secondary-subtle py-5">
  <div class="container">
    <div class="border-bottom border-dark-subtle py-3 px-2">
      <h3>Get FreshCart App</h3>
      <p class="text-muted">We will send you alink open it in your phone</p>
      <div class="row align-items-center">
        <div class="col-md-9">
          <input type="email" class="form-control" placeholder="Email" />
        </div>
        <div class="col-md-3">
          <button class="btn btn-main">Share App link</button>
        </div>
      </div>
    </div>
    <p class="my-4 fs-4 text-center">This App designed by Ahmed Shahat</p>
  </div>
</section>
