<section class="bg-main-light w-75 mx-auto">
  <form
    class="p-5 shadow"
    [formGroup]="resetpasswordForm"
    (ngSubmit)="handelresetpasswordForm()"
  >
    <fieldset class="text-main text-center h2 fw-bolder">
      Reset Password:
    </fieldset>
    <div>
      <label for="email" class="text-main fw-bold">email :</label>
      <input
        type="email"
        id="email"
        class="form-control my-2"
        formControlName="email"
      />
      <div
        class=""
        *ngIf="
          (resetpasswordForm.get('email')?.touched ||
            resetpasswordForm.get('email')?.value.length > 0) &&
          resetpasswordForm.get('email')?.errors
        "
      >
        <p
          class="alert alert-danger"
          *ngIf="resetpasswordForm.get('email')?.getError('required')"
        >
          email is required
        </p>
        <p
          class="alert alert-danger"
          *ngIf="resetpasswordForm.get('email')?.getError('email')"
        >
          email invaild formate
        </p>
      </div>
    </div>
    <div>
      <label for="newPassword" class="text-main fw-bold">newPassword :</label>
      <input
        type="newPassword"
        id="newPassword"
        class="form-control my-2"
        formControlName="newPassword"
      />
      <div
        class=""
        *ngIf="
          (resetpasswordForm.get('newPassword')?.touched ||
            resetpasswordForm.get('newPassword')?.value.length > 0) &&
          resetpasswordForm.get('newPassword')?.errors
        "
      >
        <p
          class="alert alert-danger"
          *ngIf="resetpasswordForm.get('newPassword')?.getError('required')"
        >
          newPassword is required
        </p>
        <p
          class="alert alert-danger"
          *ngIf="resetpasswordForm.get('newPassword')?.getError('pattern')"
        >
          newPassword at least 6 chars
        </p>
      </div>
    </div>
    <p class="alert alert-danger my-2" *ngIf="restmessageerror">
      {{ restmessageerror }}
    </p>

    <button
      [disabled]="resetpasswordForm.invalid"
      class="btn bg-main rounded-2 py-1 px-2"
      type="submit"
    >
      submit
    </button>
  </form>
</section>
